{% extends "base.html" %}

{% block title %}Lista de Alunos{% endblock %}

{% block content %}
    <h2>Alunos Matriculados</h2>
    <ul>
        {% for aluno in alunos %}
            <li>{{ aluno.primeiro_nome }} {{ aluno.ultimo_nome }} - {{ aluno.email }}</li>
        {% endfor %}
    </ul>

    <h2>Adicionar Aluno</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="primeiro_nome">Primeiro Nome:</label>
        <input type="text" id="primeiro_nome" name="primeiro_nome" required>

        <label for="ultimo_nome">Último Nome:</label>
        <input type="text" id="ultimo_nome" name="ultimo_nome" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="senha_hashurada">Senha:</label>
        <input type="password" id="senha_hashurada" name="senha_hashurada" required>

        <label for="data_nascimento">Data de Nascimento:</label>
        <input type="date" id="data_nascimento" name="data_nascimento" required>

        <button type="submit">Adicionar</button>
    </form>
{% endblock %}
